
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

*,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    box-sizing: border-box;
    font-size:100%;
    font-family: 'Montserrat',
    sans-serif;
}

body{
    width:100%;
    min-height:100vh;
}

/*containers*/

.header{
    background-color:rgb(0, 0, 0);
    box-shadow: 0px 2px 2px black;
    color:white;
    height:4rem;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

h1{
    font-size: 1.5rem;;
}

h3{
    font-size:.8rem;
}

.panels{
    min-height:90vh;
    display:flex;
    overflow:hidden;

    
}

footer{
    
    height:calc(100vh - (4rem + 90vh));
    background-color:rgb(0, 0, 0);
    color:white;
    
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:.7rem;
}


/*elements*/

.p1 {
    background-image:linear-gradient(rgb(0, 150, 7), rgb(160, 0, 0)),
    url(../images/palacio_pena.jpg);
   
     
}

.p2 {
    background-image: linear-gradient(rgb(0, 150, 7), rgb(160, 0, 0)),
    url(../images/bailarina.jpg);
    
}

.p3 {
    background-image: linear-gradient(rgb(0, 150, 7), rgb(160, 0, 0)),
    url(../images/night.jpg);
    
}

.p4 {
    background-image: linear-gradient(rgb(0, 150, 7), rgb(160, 0, 0)),
    url(../images/restaurante.jpg);
    
}

.p5 {
    background-image:linear-gradient(rgb(0, 150, 7), rgb(160, 0, 0)),
    url(../images/jacuzi.jpg);
    
}

.p1 p {
    color: #ff43ea;
}
.p2 p{
    color:rgb(255, 123, 0);
}
.p3 p{
    color:rgb(134, 125, 255);
}
.p4 p{
    color:rgb(58, 211, 58);
}
.p5 p{
    color:rgb(236, 236, 17);
}


.panel{
    

    flex:1;
    box-shadow:inset 0 0 10px 4px rgba(0, 0, 0, 0.294);
    background-size:cover;
    background-position:center;
    background-blend-mode:soft-light;
    
    font-size:1.5rem;
    text-align:center;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    cursor:pointer;

    /*transition to panel OPEN*/
    transition:
     font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
     flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
     background 0.2s;

}

.panel.open{
    flex:5;
    font-size:3rem;
}

.panel p{
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.329);
    font-weight:800;
    font-size:1em;
    font-family: 'Secular One',
   sans-serif;
    text-transform:uppercase;

    flex:1 0 auto;
    display:flex;
    justify-content:center;
    align-items:center;

    transition: .5s ease-in-out;
}

.panel p:nth-child(2) {
    font-size: 1.5em;
}

.panel  p:first-child{
    transform:translateY(-100%);
}

.panel.open-active p:first-child{transform:translateY(0);}

.panel p:last-child{
    transform:translateY(100%);
}

.panel.open-active p:last-child{transform:translate(0);}

